/* You can add global styles to this file, and also import other style files */
head{
    scroll-behavior: smooth;
}
.maindiv{
    display: flex;
    background-color: rgb(6, 13, 35);
    font-family: "Onest Variable", system-ui, sans-serif;

}